<%- include('../partials/header') %>

<h2>Enter a New Ticket</h2>
<form action="/flights/<%= flightId %>/tickets" method="POST">


  <label>Seat
    <input type="String" name="seat">
  </label><br>

  <label>Price
    <input type="Number" name="price">
  </label><br>

  <button type="submit">Add Ticket</button>
</form>

<%- include('../partials/footer') %>
